*,
div,
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LatoBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/LatoBold.woff') format('woff');
}

@font-face {
    font-family: 'LatoLight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/LatoLight.woff') format('woff');
}

body {
    background-color: #f6f6f6;
}

.container_big {
    max-width: 1170px;
    background: url(../img/line.png) repeat-y;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.title h1 {
    text-transform: uppercase;
    font-family: 'LatoBold';
    font-size: 34pt;
    color: #3c3c3c;
    padding-top: 110px;
}

.text {
    text-align: center;
    font-family: 'LatoLight';
    font-size: 12pt;
    color: #3c3c3c;
    margin-top: 45px;
}

.container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 60px;
}

.cards {
    display: inline-block;
    width: 269px;
    height: 268px;
}

.cards:hover {
    background-image: none;
    background-color: #18b5dc;
    opacity: 0.6;
}

.cards:hover a {
    display: inline-block;
    width: 43px;
    height: 43px;
    background-color: #5ecbe7;
    position: relative;
    top: 110px;
    left: 65px;
}

.cards a {
    display: none;
}

.cards a:hover {
    background-color: black;
    transition: all 0.4s linear;
    transform: scale(1.1, 1.1);
}

.img1 {
    background-image: url(../img/Elon_Reeve_Musk.png);
}

.img2 {
    background-image: url(../img/Alex_Cutter.png);
}

.img3 {
    background-image: url(../img/Elena_Simpson.png);
}

.img4 {
    background-image: url(../img/Lily_Allen.png);
}

.names {
    margin-top: 25px;
    margin-bottom: 115px;
}

.names :nth-child(1) {
    font-family: 'LatoBold';
    font-size: 13pt;
    color: #282528;
}

.names :nth-child(2) {
    font-family: 'LatoLight';
    font-size: 10pt;
    color: #646464;
}